body {
    margin: 0 auto;
    width: 600px;
    margin-bottom: 50px;
    font-family: "Smythe", system-ui;
    font-style: Regular;
    font-weight: 400;
}

header {
    background-image: url(./images/bg-img.png);
    background-size: cover;
    width: 600px;
    height: 167px;
    opacity: 1;
    margin-bottom: 10px;
}

h1 {
    position: relative;
    width: 170px;
    height: 24px;
    opacity: 1;
    top: 46px;
    left: 46.07px;
    color: #ffffff;
    font-size: 39px;
    text-align: center;
    margin: 0;
}

.header-text {
    margin: 0;
    position: relative;
    width: 275.4591064453125px;
    height: 8px;
    opacity: 1;
    top: 80px;
    left: 46.07px;
    font-size: 22.42px;
    color: #ffffff;
}

main {
    position: relative;
}

.item {
    position: relative;
    width: 508px;
    height: 140px;
    opacity: 1;
    top: 0px;
    left: 46px;
    border-bottom: 1px solid #d2d2d2;
}

.item-img {
    position: absolute;
    width: 70px;
    height: 89px;
    top: 22px;
    left: -10px;
    font-size: 78.72px;
    line-height: 98.4px;
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
}

.item-name {
    margin: 0;
    position: absolute;
    width: 43px;
    height: 17px;
    opacity: 1;
    top: 30px;
    left: 120px;
    font-size: 28px;
    line-height: 16.8px;
    letter-spacing: 0%;
    font-weight: 300;
}

.ingredients {
    position: absolute;
    width: 358px;
    height: 24px;
    opacity: 1;
    top: 40px;
    left: 120px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #8b8b8b;
}

.item-price {
    margin: 0;
    position: absolute;
    width: 19px;
    height: 24px;
    opacity: 1;
    top: 90px;
    left: 120px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    font-weight: 300;
}

.add {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1;
    top: 50px;
    left: 450px;
    border-width: 1.5px;
    border: 1.5px solid #dedede;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 200;
}

.payment {
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 524px;
    height: 300px;
    opacity: 1;
    border-radius: 3.89px;
    border-width: 1.3px;
    box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
    background-color: #fff;
}

.order-section {
    display: none;
    position: relative;
    width: 508px;
    height: 319px;
    left: 46px;
    border-radius: 3px;
    opacity: 1;
}

.your-order {
    text-align: center;
    font-size: 28px;
    line-height: 16.8px;
    letter-spacing: 0%;
}

.ordered {
    list-style-type: none;
    padding-left: 0;
    font-size: 28px;
    line-height: 16.8px;
    letter-spacing: 0%;
    border-bottom: 2px solid #393333;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.remove-btn {
    width: 77px;
    height: 22px;
    background-color: #fff;
    border: none;
    color: #BBBBBB;
}

.chosen-order-price {
    position: absolute;
    left: 460px;
}

.order-list {
    margin: 10px;
}

.total-price-txt {
    height: 24px;
    opacity: 1;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0%;
}

.total-price {
    font-size: 28px;
    position: relative;
    left: 364px;
}

.total {
    margin-bottom: 50px;
}

.order-btn {
    width: 508;
    height: 60;
    opacity: 1;
    top: 1048px;
    left: 46px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    background: #16DB99;
    color: #fff;
    border: none;
}